.Navbar{
    width: 100%;
    background: gray;
    position: fixed;
    top: 0;
}
nav{
    height: 4rem;
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_links{
    display: flex;
    gap: 5rem;
}
a{
    color: white;

}